@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:hover{
    cursor:grab;   
}
:active{
    cursor: grabbing;
}
body{
    
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
form{
    width: 900px;
    height: 850px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://images.unsplash.com/photo-1550312462-2e5baee16edb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
    border: 1px solid #ccc;
}
 .header img{
    height: 45px;
    width: 45px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    display: inline;
       
} 

#img1{
    margin-top: 20px;
    width: 80px;
    margin-right: 160px;
    margin-left: 10px;

}
.container i{
    width: 20px;
}
.header h2{
    text-align: left;
   margin-top: 6px;
   position: absolute;
  color: black;
   font-family: Georgia, 'Times New Roman', Times, serif; 
   /* font-family: monospace; */
   float: left;
   display: inline;

}

button{
   
    margin-left: 29%;
    margin-right: 29%;
    margin-top: 15%;
    background-color: blue;
    padding: 12px;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;

}
#div_li{
    width: 95%;
    height: 35px;
    
    margin-left: 0px;
    margin-right: 10px;
    padding-top: 4px;
    margin-top: 2px;
    margin-bottom: 4px;
    font-weight: bolder;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    float: left;
   
}
#div_li img{
    width: 30px;
    padding-left: 30px;
    float: right;
}
#div_li i{
    float: left;
    padding-left: 2px;
}

#div1 img{
    float: right;
    padding-right: 6px;
}
#div1{
    width: 280px;
    height: 250px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-top: 6px;
    padding-left: 4px;
    font-weight: bolder;  
    background-color: #eee;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#div2{
    width: 280px;
    height: 270px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-top: 6px;
    padding-left: 4px;
    font-weight: bolder;
    color: grey; 
    background-color: rgb(226, 239, 250);;
    box-shadow: 0px 0px 6px 2px  rgb(210, 230, 248);
    border-radius: 10px;
}
.header{
    width: 90%;
    height: 5%;
    overflow: auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    padding-top: 1px;
    padding-left: 2px;
    box-shadow: 0px 0px 6px 1px  rgb(210, 230, 248); 
    border-radius: 10px;
  
}
.container{
    cursor: grab;
    width: 320px;
    height: 790px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-left: 10px;
    border: 0px solid;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgb(231, 241, 250);
  
}

b{
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 120px;
    font-weight: 200PX;
}


ul{
   list-style: none;
   padding-left: 20px; 
}

li{
    padding-left: none;
    padding-bottom: 20px;
    font-weight: bolder;
    
}
i{  

    padding-left: 8px;
    padding-right: 14px;
    float: inherit;
}
